/ballot/Ballot/target/
/ballot/Ballot/test_snapshots/
/ballot/Ballot/Cargo.lock

/ballot/BallotToken/target/
/ballot/BallotToken/test_snapshots/
/ballot/BallotToken/Cargo.lock

/house_purchase/target/
/house_purchase/test_snapshots/
/house_purchase/Cargo.lock

/paid_account/target/
/paid_account/test_snapshots/
/paid_account/Cargo.lock

/simple_deposit/target/
/simple_deposit/test_snapshots/
/simple_deposit/Cargo.lock

/ballot_without_token/target/
/ballot_without_token/test_snapshots/
/ballot_without_token/Cargo.lock

/.vscode/